#include <windows.h>

101 ICON "assets\\app.ico"
1 RT_MANIFEST "assets\\app.manifest"

1 VERSIONINFO
 FILEVERSION @VERSION_COMMAS@
 PRODUCTVERSION @VERSION_COMMAS@
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "SSDownload Project\0"
            VALUE "FileDescription", "SSDownload native Windows download manager\0"
            VALUE "FileVersion", "@VERSION@\0"
            VALUE "InternalName", "ssdownload\0"
            VALUE "LegalCopyright", "Copyright (c) 2026 SSDownload contributors\0"
            VALUE "OriginalFilename", "ssdownload.exe\0"
            VALUE "ProductName", "SSDownload\0"
            VALUE "ProductVersion", "@VERSION@\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
